/* Décoration des boutons */
.bouton {
	cursor: pointer;
	background-color: #4D90FE;
	padding: 2px 3px;
	border-radius: 2px;
	background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF !important;
	margin: 0;
	text-align: center;
	-moz-appearance: button;
	-moz-binding: none;
	-moz-box-sizing: border-box;
	text-decoration: none;
}

.bouton * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

}
.bouton:active {
	background-color: inherit;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.bouton:focus {
	border: 1px solid #4D90FE;
	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset;
	outline: medium none;
}

.bouton :hover {
	background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
}