@CHARSET "UTF-8";


.resultats {
	margin : 2em 1em;
}

.resultat {
	padding : 1em 0;
	border-radius : 4px;
	margin-top : 1em;
}
.resultat .titre {
	display : block;
	font-size : 2.5em;
}

/** formattage de la table pour l'affichage **/

.resultat table * {
/* 	border	   : 1px solid black; */
	
}
.resultat table {
	font-size  : 1.2em;
	border		: 2px solid rgba(52, 52, 52, 0.9);
	background-color : rgba(220, 220, 220, 0.6);
/* 	border-radius	: px; */
	border-collapse :collapse;
}
.resultat table td {
	padding : 2px 6px;	
}

.resultat table thead {
	border-bottom	: 2px solid black;
}

.resultat table thead td {
	font-weight	: bold;
	font-size	: 1.1em;
}

.resultat > table, .resultat >.titre {
	text-align : center;
	margin : 0 auto;	
}

/** formattage admin **/

.resultat.admin:hover {
	background-color : rgba(200, 50, 50, 0.9);
	cursor : pointer;
}

/** couleurs pour les resultats **/
.resultat[color="0"] {
	background-color : rgba(150,150, 200, 0.7);
}

.resultat[color="1"] {
	background-color : rgba(150,150, 235, 0.7);
}

.resultat[color="2"] {
	background-color :rgba(150,150, 255, 0.7);
}